
<h1>Fancy to play a WordCounter game?</h1>
  <!-- <div class="container">
    <form action="/game/new" method="post">
      <button type="submit" name="start">Go!</button>
    </form>
  </div> -->
  <!-- <a href='/game/new'>Start</a> -->


  <form action='/game/new' method="get">
      <button type="submit">Go!</button>
    </form>