<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>WordCounterGame</title>
  </head>
  <body>
    <h1>Fancy to Play?</h1>

    <div class="container">
        <form action="/object" method="post">
          <button type="submit" name="start">Yes!</button>
        </form>
      </div>
      

  </body>
</html>
