@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

  <h1>Fancy to play a WordCounter game?</h1>

    <form action='/game/new' method="get">
      <button id="go" type="submit">Go!</button>
    </form>
</div>