@using WordCounter.Models;
@using System.Collections.Generic;

@model Game;

<p>@Model.GetWord() appears @Model.GetCount() times in the sentence.</p>

<form action="/game/new" method="get">
  <button type="submit" name="restart">Restart</button>
</form>