<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>WordCounter</title>
  </head>
  <body>
    <h1>New Game</h1>

    <form action="/game" method="post">
      <label for="wordInput">Please enter a word</label>
      <input id="wordInput" name="wordInput" type="text">
      <label for="sentenceInput">Please enter a sentence</label>
      <input id="sentenceInput" name="sentenceInput" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
